doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Fresh Table Greens
    block content
    ul 
    li
      a(class='about-us' href='/about') about us
    li
      a(class='products' href='/products') products
    //- li
      a(class='' href=('/')fun)
    br
    hr
  footer
    p Copyright &copy; 2023
    ul 
    li About us
    li Career
