doctype html
html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav(class='navbar')
        a(class='title', href='/') Fresh Table Greens
        a(class='about-us navbar-item' href='/about') About Us
        a(class='sustainability navbar-item' href='/sustainability') Sustainability
        a(class='products navbar-item' href='/products') Products and Services
        a(class='news-and-blog navbar-item' href='/news-and-blog') News and blog
        a(class='our-offices navbar-item' href='/our-offices') Our Offices
    br
    block content
    hr
  footer
    p Copyright &copy; 2023
    ul 
    li 
      a Contact us 
