doctype html
html
  head
    //- title= tableFresh
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul 
    li
      a(class='about-us' href='/about') about us
    li
      a(class='products' href='/products') products
    br
    hr
  footer
    p Copyright &copy; 2023
    ul 
    li About us
    li Career
