doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1
        a(href='/') Fresh Table Greens
    ul 
    li
      a(class='about-us' href='/about') About Us
    li
      a(class='sustainability' href='/sustainability') Sustainability
    li
      a(class='products&services' href='/products&services') Products and Services
    li
      a(class='news-and-blog' href='/news-and-blog') News and blog
    li
      a(class='our-offices' href='/our-offices') Our Offices
    br
    block content
    hr
  footer
    p Copyright &copy; 2023
    ul 
    li 
      a Contact us 
